<!-- DONT TOUCH THIS FILE -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>List of doctors</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css" />
  <link rel="stylesheet" href="index.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
  <main class="container main-container">
    <!-- header -->
    <div class="row">
      <h2>Doctors</h2>
    </div>


    <div class="row">
      <div class="column column-20">
        Filter by:
      </div>
      <div class="column column-20">
        <select id="availabilityFilterSelect">
          <option value="all" selected="selected">All Doctors</option>
          <option value="available">Available Doctors</option>
        </select>
      </div>
      <div id="searchContainer"></div>
    </div>

    <!-- content -->
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>ZipCode</th>
            <th>City</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="doctors">
          <tr data-upin="202029">
            <td>John Doe</td>
            <td>92037</td>
            <td>La Jolla</td>
            <td><button class="button button-outline">Mark as Available</button></td>
          </tr>
          <tr data-upin="402910">
            <td>Nick Ramsen</td>
            <td>92037</td>
            <td>La Jolla</td>
            <td><button class="button button-outline">Mark as Unavailable</button></td>
          </tr>
          <tr data-upin="910291">
            <td>Liz Redfield</td>
            <td>92015</td>
            <td>San Diego</td>
            <td><button class="button button-outline">Mark as Unavailable</button></td>
          </tr>
          <tr data-upin="202914">
            <td>Javier Garcia</td>
            <td>92015</td>
            <td>San Diego</td>
            <td><button class="button button-outline">Mark as Available</button></td>
          </tr>
          <tr data-upin="394840">
            <td>Harry Bone</td>
            <td>92015</td>
            <td>San Diego</td>
            <td><button class="button button-outline">Mark as Unavailable</button></td>
          </tr>
          <tr data-upin="982170">
            <td>Kevin Lamkin</td>
            <td>92015</td>
            <td>San Diego</td>
            <td><button class="button button-outline">Mark as Unavailable</button></td>
          </tr>
          <tr data-upin="393920">
            <td>Andrew Stuart</td>
            <td>92037</td>
            <td>La Jolla</td>
            <td><button class="button button-outline">Mark as Unavailable</button></td>
          </tr>
          <tr data-upin="655942">
            <td>Maggie Willians</td>
            <td>92037</td>
            <td>San Diego</td>
            <td><button class="button button-outline">Mark as Unavailable</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>